body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  background-color: rgb(230, 236, 240);
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.01rem;
}
h1{
  font-size: 5em;
}
h3{
  font-style: italic;
  font-size: 2rem;
  font-weight: lighter;
}
